:root {
  --accent-color: #4d5ae5;
  --accent-logo-color: #4d5ae5;
  --hero-title-buttons: #ffffff;
  --brand-color: #2e2f42;
  --primary-titles-color: #2e2f42;
  --mini-titles-color: #2e2f42;
  --secondary-titles-color: #2e2f42;
  --hover-color: #404bbf;
  --background: #ffffff;
  --cards-color: #f4f4fd;
  --cloud: #f4f4fd;
  --buttons-2page: #e7e9fc;
  --primary-text-color: #434455;
}
/* списки и точки */
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;

  color: var(--primary-text-color);
  background-color: var(--background);
  letter-spacing: 0.02em;
}
/* header */

.header-logo {
  font-family: "Raleway", sans-serif;
  color: var(--accent-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.logo-color {
  color: var(--brand-color);
}

.nav-link {
  color: var(--brand-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

address {
  font-style: normal;
}
.auth-hav {
  font-style: normal;
}
.address-link {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.active:hover,
.active:focus {
  color: var(--hover-color);
}
/* hero */
.hero {
  background-color: var(--brand-color);
}

.hero-title {
  color: var(--hero-title-buttons);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.btn-hero {
  color: var(--hero-title-buttons);
  background-color: var(--accent-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.active-btn:hover,
.active-btn:active {
  color: var(--hero-title-buttons);
  background-color: var(--hover-color);
}

/* specifics */

.mini-title {
  color: var(--mini-titles-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.specifics-text,
.text-dsc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* what are you doing */
.primary-title {
  color: var(--primary-titles-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

/* team secondary-title, img  -dsc */

.team {
  background-color: var(--cloud);
}

.secondary-title {
  color: var(--secondary-titles-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text-dsc-team {
  font-size: 16px;
  line-height: 1.5;
}

/* second page */
.second-nav {
  font-family: "Roboto", sans-serif;
  color: var(--accent-color);
  background-color: var(--cloud);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
}

.secondary-title-cards {
  color: var(--secondary-titles-color);
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
}
/* cards */
.text-dsc {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

/* footer */

.basement {
  background-color: var(--brand-color);
}
.basement-text {
  color: var(--buttons-2page);
  font-size: 16px;
  line-height: 1.5;
}
.basement-logo {
  font-family: "Raleway", sans-serif;
  color: var(--accent-logo-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.basement-second-logo {
  color: var(--cloud);
}
